/* SwayOSD Wallust Template */
* {
  font-family: "Iosevka Nerd Font";
}

@define-color theme_bg_color #131313;
@define-color theme_fg_color #F8F8F8;

/* Colors */
@define-color color0 #3D3D3D;
@define-color color1 #464746;
@define-color color2 #686868;
@define-color color3 #7B7B7B;
@define-color color4 #808080;
@define-color color5 #8A8A8A;
@define-color color6 #B0B0B0;
@define-color color7 #ECECEC;
@define-color color8 #A5A5A5;
@define-color color9 #4B4B4B;
@define-color color10 #787878;
@define-color color11 #7E7E7E;
@define-color color12 #8F8F8F;
@define-color color13 #B8B8B8;
@define-color color14 #EAEAEA;
@define-color color15 #ECECEC;

window#osd {
  border-radius: 24px;
  border: none;
  background: @theme_bg_color;
  /* CRITICAL CHANGES START */
  /* The shadow definition: x-offset y-offset blur spread color */
  box-shadow: 0px 4px 12px 2px rgba(0, 0, 0, 0.6);
  /* You MUST add margin. Without this, the shadow is clipped 
     by the window boundary and becomes invisible. */
  margin: 16px;
  /* CRITICAL CHANGES END */
}

window#osd #container {
  margin: 16px;
}

window#osd image,
window#osd label {
  color: @color5;
}

window#osd progressbar:disabled,
window#osd image:disabled {
  opacity: 0.5;
}

window#osd progressbar {
  min-height: 6px;
  border-radius: 12px;
  background: transparent;
  border: none;
}

window#osd trough {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: alpha(@theme_fg_color, 0.5);
}

window#osd progress {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: @theme_fg_color;
}
