/* SwayOSD Wallust Template */
* {
  font-family: "Iosevka Nerd Font";
}

@define-color theme_bg_color #151519;
@define-color theme_fg_color #E1E0E9;

/* Colors */
@define-color color0 #404044;
@define-color color1 #464852;
@define-color color2 #655477;
@define-color color3 #5D6257;
@define-color color4 #56656F;
@define-color color5 #74788F;
@define-color color6 #7E7D91;
@define-color color7 #CBCAD8;
@define-color color8 #8E8D97;
@define-color color9 #4A4C5B;
@define-color color10 #745D8C;
@define-color color11 #687060;
@define-color color12 #607381;
@define-color color13 #7B80A2;
@define-color color14 #A8A6C1;
@define-color color15 #CBCAD8;

window#osd {
  border-radius: 24px;
  border: none;
  background: @theme_bg_color;
  /* CRITICAL CHANGES START */
  /* The shadow definition: x-offset y-offset blur spread color */
  box-shadow: 0px 4px 12px 2px rgba(0, 0, 0, 0.6);
  /* You MUST add margin. Without this, the shadow is clipped 
     by the window boundary and becomes invisible. */
  margin: 16px;
  /* CRITICAL CHANGES END */
}

window#osd #container {
  margin: 16px;
}

window#osd image,
window#osd label {
  color: @color5;
}

window#osd progressbar:disabled,
window#osd image:disabled {
  opacity: 0.5;
}

window#osd progressbar {
  min-height: 6px;
  border-radius: 12px;
  background: transparent;
  border: none;
}

window#osd trough {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: alpha(@theme_fg_color, 0.5);
}

window#osd progress {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: @theme_fg_color;
}
