  /* Special */
$background: mix(#1D191B, #000000, 25%);
$foreground: #D2DBD5;
$cursor: #759C7C;

  /* Colors */
$color0: #494346;
$color1: #465246;
$color2: #47704E;
$color3: #934E74;
$color4: #A94955;
$color5: #4D904C;
$color6: #76867C;
$color7: #B7C3BB;
$color8: #808883;
$color9: #4A594A;
$color10: #4B8254;
$color11: #B05489;
$color12: #CE4F5E;
$color13: #2D9A2B;
$color14: #7F9888;
$color15: #B7C3BB;
