  /* Special */
$background: mix(#131313, #000000, 25%);
$foreground: #F8F8F8;
$cursor: #A4A4A4;

  /* Colors */
$color0: #3D3D3D;
$color1: #464746;
$color2: #686868;
$color3: #7B7B7B;
$color4: #808080;
$color5: #8A8A8A;
$color6: #B0B0B0;
$color7: #ECECEC;
$color8: #A5A5A5;
$color9: #4B4B4B;
$color10: #787878;
$color11: #7E7E7E;
$color12: #8F8F8F;
$color13: #B8B8B8;
$color14: #EAEAEA;
$color15: #ECECEC;
