  /* Special */
$background: mix(#151519, #000000, 25%);
$foreground: #E1E0E9;
$cursor: #9686AA;

  /* Colors */
$color0: #404044;
$color1: #464852;
$color2: #655477;
$color3: #5D6257;
$color4: #56656F;
$color5: #74788F;
$color6: #7E7D91;
$color7: #CBCAD8;
$color8: #8E8D97;
$color9: #4A4C5B;
$color10: #745D8C;
$color11: #687060;
$color12: #607381;
$color13: #7B80A2;
$color14: #A8A6C1;
$color15: #CBCAD8;
