.app-tray {
  margin-left: 10px;
}

.app-icon {
  font-size: 0.9rem;
  color: $foreground;
  padding: 0 8px 0 4px;
  border-radius: 8px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.app-icon:hover {
  background-color: mix($background, $foreground, 95%);
}
